#table{
    border-collapse: collapse;
    /*margin-right: auto;margin-left: auto;*/
    border: solid 2px;
    text-align: center;
    position: relative;
    left:20%;
}
h1{
    position: relative;
    left:20%;
}
h3{
    position: relative;
    left:22%;
}
.title{
    max-width: 400px;
    font-size: 1.5em;
    border:solid 1px gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.num,.score{
    width: 100px;
    height: 40px;
    font-size: 1.5em;
    border:solid 1px gray;
}
.textbox{
    display: inline-block;
    width: 300px;
    height:30px;
    font-size: 30px;
    position: relative;
    left:20%;
}
.textbox:focus{
    box-shadow: 0 0 7px skyblue;
}
.enter{
    display: inline-block;
    height: 30px;
    position: relative;
    left:20%;
    top:-10px;
}
.enter:hover{
    box-shadow: 0 0 7px blue;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:underline blue;
}