#table{
    border-collapse: collapse;
    margin-right: auto;margin-left: auto;
    border: solid 2px;
    text-align: center;
}
.title{
    max-width: 400px;
    border:solid 1px gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.num,.score{
    width: 100px;
    border:solid 1px gray;
}
.textbox{
    display: inline-block;
    width: 400px;
    height:40px;
    font-size: 40px;
    position: relative;
    left:550px;
}  
.enter{
    display: inline-block;
    height: 40px;
    position: relative;
    left:550px;
    top:-10px;
}
.enter:hover{
    box-shadow: 0 0 7px blue;
}